{% extends "_template.html" %}
{% block content %}

<!--
  Boilerplate for the Dreamforce 2016 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  http://sfdcworkshop.com/workshop/rapid-prototyping-with-slds/
-->

<!--
  Here's picture you can put into your content.
  Feel free to let your creativity go wild and change this image to your taste!
-->
<!-- <img src="/assets/workshop-salesforce-red.jpg" alt="" class="slds-size--2-of-3 slds-m-bottom--large" /> -->

<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home -->

<!-- /PAGE HEADER -->

<!-- WIZARD: https://www.lightningdesignsystem.com/components/process/#flavor-wizard -->
<div class="slds-wizard" role="navigation">
  <ol class="slds-wizard__list">
    <li class="slds-wizard__item slds-is-active">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Navigation</span>
      </a>
    </li>
    <li class="slds-wizard__item slds-is-active">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Actions</span>
      </a>
    </li>
    <li class="slds-wizard__item slds-is-active">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Compact Layout</span>
      </a>
    </li>
    <li class="slds-wizard__item">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Review</span>
      </a>
    </li>
    <li class="slds-wizard__item">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Invite</span>
      </a>
    </li>
  </ol>
  <span class="slds-wizard__progress">
    <span class="slds-wizard__progress-bar" style="width:50%;"></span>
  </span>
</div>
<!-- /WIZARD -->

<!-- COLUMNS - already populated for you: https://www.lightningdesignsystem.com/components/utilities/grid/#flavor-manual-sizing -->
<div class="slds-grid">

  <!-- COLUMN #1 -->
  <div class="slds-col slds-size--3-of-4 slds-col--padded">

    <!-- TABS: https://www.lightningdesignsystem.com/components/tabs/#flavor-default -->

    <!-- /TABS -->

    <!-- DESCRIPTION LIST: https://www.lightningdesignsystem.com/components/utilities/lists/#flavor-description-list -->

    <!-- /DESCRIPTION LIST -->

  </div>
  <!-- /COLUMN #1 -->

  <!-- COLUMN #2 -->
  <div class="slds-col slds-size--1-of-4 slds-col--padded">

    <!-- NARROW CARD: https://www.lightningdesignsystem.com/components/cards/#flavor-related-list-narrow -->

    <!-- /NARROW CARD -->

  </div>
  <!-- /COLUMN #2 -->

</div>
<!-- /COLUMNS -->

{% endblock %}
